.footer-nav {
    @include flex_row;

    .footer-logo {
        width: 40%;
        padding: 50px 0;

        img {
            width: 50px;
            display: inline-block;
        }

        .footer-logo-text {
            display: inline-block;
            font-size: 14px;
            color: $text_main_color;

            .company-name {
                color: #3e14e9;
            }
        }
    }

    .footer-menu {
        width: 60%;
        @include flex_row;
        padding: 50px 0;

        .sub-menu {
            width: calc( 100% / 5 );

            .sub-title {
                font-weight: bold;
                margin-bottom: 20px;
                font-size: 15px;
            }

            li {
                list-style-type: none;
                margin: 10px 0;
                font-size: 10px;
                font-weight: bold;

                a {
                    text-decoration: none;
                    color: $text_main_color;
                }
            }
        }
    }
}